// ******************************************
// Imports
// ******************************************

@import "base/index";
@import "utilities/index";
@import "components/index";

.container {
  padding: 0 2em;
  font-weight: 300;
  font-size: 18px;
  color: $color-main-text;
  @media (min-width: $break-comp) {
    padding: 2em 6.5em;
  }
}
