// ******************************************
// Imports
// ******************************************

@import "base/index";
@import "utilities/index";
@import "components/index";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');


* {
  box-sizing: border-box;
}

p {
  line-height: 1.5em;
  padding: 0 .5em;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 2em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: $color-main-text;
  @media (min-width: 768px) {
    padding: 0 6.5em;
  }
}

.grid__row {
  padding: 2em 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

[class^="grid"] {
  width: 100%;
  flex-basis: 0;
  @media (min-width: 768px) {
    width: auto;
  }
}

.img--logo,
.img--avatar {
  display: block;
  margin: 0 auto 3em;
  @media (min-width: 768px) {
    margin: 0 auto;
  }
}

.nav {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.nav__item {
  border-radius: .5em;
  padding: 1em 0;
  a {
    color: $color-main-text;
    text-decoration: none;
  }
  &:hover {
    background-color: $color-primary;
    a {
      color: white;
    }
  }
  @media (min-width: 768px) {
      padding: .5em;
      margin: 0 .5em;
  }
}

.headline--primary,
.grid__row .headline--secondary {
  margin-left: 1em;
}

.headline--primary {
  color: $color-primary;
  font-size: 1.778em;
}

.headline--secondary {
  margin-top: 0;
  opacity: 0.75;
  font-weight: 300;
}

.link {
  color: $color-secondary;
  font-weight: 400;
  text-decoration: none;
}

.blockquote {
  border-radius: .25em;
  border-left: $color-primary solid 10px;
  padding-left: 1em;
  font-size: 1.444em;
  font-style: italic;
  margin-bottom: 3em;
}

.img--avatar {
  margin: 1em auto;
}

.img--frame {
  width: 100%;
  border: .5px solid rgba($color-main-text, .5);
  padding: 14px;
  @media (min-width: 768px) {
    display: block;
    margin: 0 auto;
    width: auto;
  }
}

.form__label--hidden {
  display: none;
}

.form__input,
.theme__colors {
  width: 100%;
  border: 0;
  padding: .85em;
  font-size: .85em;
  margin-bottom: 1.5em;
}

.form__input {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  border-bottom: $color-primary solid 5.5px;
}

[class^="btn--"] {
  text-align: center;
  color: white;
  text-transform: uppercase;
  .grid__col--12 & {
    @media (min-width: 768px) {
      width: auto;
      padding: .85em 5.5%;
    }
  }
}

.btn--default {
  background-color: $color-secondary;
}

.btn--error {
  background-color: $color-error;
}

.btn--success {
  background-color: $color-success;
}

.btn--warning {
  background-color: $color-warn;
}

.btn--info {
  background-color: $color-info;
}

.theme__colors {
  border-radius: 5px;
  &[class^="grid"] {
    font-weight: 400;
    margin-bottom: .5em;
    flex: 1 0;
    @media (min-width: 768px) {
      margin: .5em;
      text-align: center;
    }
    &:last-child {
      margin-bottom: -1.6em;
      @media (min-width: 768px) {
        margin-bottom: .5em;
      }
    }
  }
  &.grid__col--12 {
    background-color: $color-vary-a;
    @media (min-width: 768px) {
      flex-grow: 12;
    }
  }
  &.grid__col--8 {
    background-color: $color-vary-b;
    @media (min-width: 768px) {
      flex-grow: 8;
    }
  }
  &.grid__col--7 {
    background-color: $color-vary-c;
    @media (min-width: 768px) {
      flex-grow: 7;
      width: 70%;
    }
  }
  &.grid__col--6 {
    background-color: $color-vary-d;
    @media (min-width: 768px) {
      flex-grow: 6;
    }
  }
  &.grid__col--5 {
    background-color: $color-vary-e;
    @media (min-width: 768px) {
      flex-grow: 5;
    }
  }
  &.grid__col--4 {
    background-color: $color-vary-f;
    @media (min-width: 768px) {
      flex-grow: 4;
    }
  }
  &.grid__col--3 {
    background-color: $color-vary-g;
    @media (min-width: 768px) {
      flex-grow: 3;
    }
  }
}

.grid__col--12 {
  flex-grow: 12;
  display: flex;
  justify-content: space-around;
}
.grid__col--9 {
  flex-grow: 9;
}
.grid__col--8 {
  flex-grow: 8;
}
.grid__col--7 {
  flex-grow: 7;
}
.grid__col--6 {
  flex-grow: 6;
}
.grid__col--5 {
  flex-grow: 5;
}
.grid__col--4 {
  flex-grow: 4;
}
.grid__col--3 {
  flex-grow: 3;
}

.centered {
  flex-grow: 0;
  margin-left: auto;
  margin-right: auto;
}
