

@mixin flex-theme($color, $flex) {
  background-color: $color;
  @media (min-width: $break-comp) {
    flex-grow: $flex;
  }
}

@mixin flex-center($flex) {
  flex-grow: $flex;
  &.centered {
    flex-basis: $flex / 12 * 100%;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
