
// Colors
$color-main-text: #5D5D5D;

$color-primary: #58E1C1;
$color-secondary: #51DDFC;
$color-error: #E4757A;
$color-success: #63CB82;
$color-warn: #FB7856;
$color-info: #927BC1;

$color-vary-a: #80E8D0;
$color-vary-b: #FB9F85;
$color-vary-c: #EC9FA2;
$color-vary-d: #3FABCA;
$color-vary-e: #88D9A0;
$color-vary-f: #7DE5FD;
$color-vary-g: #DEB2EE;

// Media Breakpoints
$break-comp: 768px;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
$stack-sans: 'Lato', sans-serif;
